:root {
  --primary-color: #ff6f00;
  --primary-dark-color: #c43e00;
  --primary-light-color: #ffa040;
  --text-dark-color: #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-light-color);
  height: 45px;
  box-shadow: 3px 2px 4px 3px #ccc;
  position: fixed;
  top: 0;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 10px;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 5px;
}

.icon {
  margin-left: 5px;
  margin-right: 10px;
  color: yellow;
}

@media(max-width: 600px) {
  .titleContainer{
    display: none
  }
}